// navbar

.container-navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  font-family: $title-font;
  text-transform: uppercase;

  background-color: $bg-light;

  -webkit-box-shadow: 0px 14px 46px 0px rgba(0,0,0,0.05);
  -moz-box-shadow: 0px 14px 46px 0px rgba(0,0,0,0.05);
  box-shadow: 0px 14px 46px 0px rgba(0,0,0,0.05);

  z-index: 1;
} 

// nav

.nav {
  display: none;
  position: absolute;
  top: 84px;
  left: 0;
  right: 0;

  background-color: $bg-light;
}

.nav a {
  display: inline-block;
  width: 100%;
  margin: 15px 0;
  padding-bottom: 10px;

  text-align: center;

  transition: .3s;

  border-bottom: 2px solid #FFF;
}

.nav a:hover {
  color: $text-primary;
  border-bottom: 2px solid $text-primary;
}

// burger-nav

.burger-nav {
  position: relative;
 
  cursor: pointer;
}

.burger-nav::before {
  content: '';
  display: inline-block;
  height: 3px;
  width: 35px;
  position: absolute;
  top: -7px;
  left: 3px;
  
  background-color: $text-secondary;
}
.burger-nav::after{
  content: '';
  display: inline-block;
  height: 3px;
  width: 35px;
  position: absolute;
  top: 25px;
  left: 3px;

  background-color: $text-secondary;
}

// products nav

.nav-products {
  display: none;
  justify-content: center;
  align-items: center;
}

.nav-products img {
  width: 100px;
  height: 60px;
}

.nav-product-bloc-text {
  margin: 0 15px;
  display: block;
}

// jumbotron

.jumbotron {
  height: 600px;

  background: fixed left / cover no-repeat url(/images/runner.jpg);
}

.jumbotron-presentation {
  text-align: right;
}

.jumbotron-presentation-title {
  font-size: 3em;
  text-transform: uppercase;
  font-family: $title-font;
  font-weight: $weight-bold;
  color: $text-primary;
}

.jumbotron-presentation-text {
 margin: 30px 0;

 font-weight: $weight-bold;
}

//class for js burger
.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}

.filter-nav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: #000;

  opacity: .7;
}

.nav a:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 850px) {

  //navbar
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }

  //nav
  .nav {
    display: block;
    position: relative;

    top: 0;
    left: 0;
    right: 0;
  }

  .nav a {
    display: inline-block;
    padding: 36.5px 27.5px;

    width: auto;
    margin: 0;
  
    text-align: auto;
  }

  .nav a:last-child {
    padding-right: 0;
  }

  //burger nav
  .burger-nav {
    display: none;
  }

  .jumbotron {
    height: 870px;
  }

  .jumbotron-presentation {
    padding-top: 110px;
  }

  // products nav

  .nav-products {
    position: fixed;
    left: 0;
    right: 0;
    background-color: $bg-light;
  }

  .nav-products img {
    width: 170px;
    height: 100px;
  }

  .nav-product-bloc-text {
    margin: 0 15px;
    display: block;
  }

  // jumbotron-small
  .jumbotron-small-presentation {
    padding-top: 80px;
  }
}
 

// jumbotron-small

.jumbotron-small {
  height: 315px;
  position: relative;
}

.jumbotron-small::after {
  content: "";
  background: fixed bottom / cover no-repeat url(/images/brassard.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}

.jumbotron-small-presentation-title {
  color: $text-primary;
  font-size: 2em;
  font-family: $title-font;
  font-weight: $weight-bold;
}

.jumbotron-small-presentation-text {
  font-weight: $weight-semi-bold;
}