
.newsletter {
  text-align: center;
}

.newsletter .title {
  margin-bottom: 15px;
}

.newsletter-text {
  margin: 0 auto;

  width: 500px;
}

.newsletter input {
  margin: 15px auto;
  padding: 10px;
  display: block;

  border: 2px solid $bg-secondary;
  border-radius: 5px;
}

.newsletter .btn {
  margin-top: 0;
}
