html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.3s;
}

.bg-primary {
  background-color: #F98723 !important;
}

.bg-secondary {
  background-color: #13152F !important;
}

.bg-success {
  background-color: #d4edda !important;
}

.bg-danger {
  background-color: #f8d7da !important;
}

.bg-warning {
  background-color: #FAD449 !important;
}

.bg-info {
  background-color: #0075FF !important;
}

.bg-light {
  background-color: #FEFEF4 !important;
}

.bg-dark {
  background-color: #1A1A1A !important;
}

.bg-white {
  background-color: #FFF !important;
}

.text-primary {
  color: #F98723 !important;
}

.text-secondary {
  color: #13152F !important;
}

.text-success {
  color: #4AC047 !important;
}

.text-danger {
  color: #D03333 !important;
}

.text-warning {
  color: #FAD449 !important;
}

.text-info {
  color: #0075FF !important;
}

.text-light {
  color: #FEFEF4 !important;
}

.text-dark {
  color: #1A1A1A !important;
}

.text-white {
  color: #FFF !important;
}

body {
  background-color: #FEFEF4;
}

.btn {
  display: inline-block;
  width: 100%;
  margin-top: 40px;
  padding: 12px 14px;
  font-weight: 800;
  text-align: center;
  border: 2px solid #13152F;
  border-radius: 10px;
  transition: 0.3s;
}

.btn:hover {
  font-weight: 800;
  background-color: #13152F;
  color: #F98723;
  border: 2px solid #13152F;
  border-radius: 10px;
}

@media screen and (min-width: 700px) {
  .btn {
    width: auto;
  }
}
.title {
  font-size: 1.5em;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

html {
  font-size: 16px;
}

body {
  font-family: "Montserrat", sans-serif;
  line-height: 1.4;
  color: #13152F;
}

.weight-bold {
  font-weight: 800;
}

.weight-semi-bold {
  font-weight: 600;
}

.weight-light {
  font-weight: 300;
}

.title {
  font-size: 1.5em;
  font-weight: 800;
  text-transform: uppercase;
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 150px 50px;
}

.container-small {
  max-width: 815px;
  margin: 20px auto;
  padding: 0 15px;
}

.container-navbar {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

@media only screen and (min-width: 1100px) {
  .container {
    padding: 150px 15px;
  }
}
.container-navbar {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar {
  font-family: "Exo", sans-serif;
  text-transform: uppercase;
  background-color: #FEFEF4;
  -webkit-box-shadow: 0px 14px 46px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0px 14px 46px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 14px 46px 0px rgba(0, 0, 0, 0.05);
}

.nav {
  display: none;
  position: absolute;
  top: 84px;
  left: 0;
  right: 0;
  background-color: #FEFEF4;
}

.nav a {
  display: inline-block;
  width: 100%;
  margin: 15px 0;
  padding-bottom: 10px;
  text-align: center;
  transition: 0.3s;
  border-bottom: 2px solid #FFF;
}

.nav a:hover {
  color: #F98723;
  border-bottom: 2px solid #F98723;
}

.burger-nav {
  position: relative;
  cursor: pointer;
}

.burger-nav::before {
  content: "";
  display: inline-block;
  height: 3px;
  width: 35px;
  position: absolute;
  top: -7px;
  left: 3px;
  background-color: #13152F;
}

.burger-nav::after {
  content: "";
  display: inline-block;
  height: 3px;
  width: 35px;
  position: absolute;
  top: 25px;
  left: 3px;
  background-color: #13152F;
}

.nav-products {
  display: none;
  justify-content: center;
  align-items: center;
}

.nav-products img {
  width: 100px;
}

.nav-product-bloc-text {
  margin: 0 15px;
  display: block;
}

.jumbotron {
  height: 600px;
  background: fixed left/cover no-repeat url(/images/runner.jpg);
}

.jumbotron-presentation {
  text-align: right;
}

.jumbotron-presentation-title {
  font-size: 3em;
  text-transform: uppercase;
  font-family: "Exo", sans-serif;
  font-weight: 800;
  color: #F98723;
}

.jumbotron-presentation-text {
  margin: 30px 0;
  font-weight: 800;
}

.fixed {
  position: fixed !important;
  top: 0;
  left: 0;
  right: 0;
}

.filter-nav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #000;
  opacity: 0.7;
}

@media only screen and (min-width: 850px) {
  .navbar {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
  }

  .nav {
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
  }

  .nav a {
    display: inline-block;
    padding: 36.5px 27.5px;
    width: auto;
    margin: 0;
    text-align: auto;
  }

  .nav a:last-child {
    padding-right: 0;
  }

  .burger-nav {
    display: none;
  }

  .jumbotron {
    height: 870px;
  }

  .jumbotron-presentation {
    padding-top: 110px;
  }

  .nav-products {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #FEFEF4;
  }

  .nav-products img {
    width: 170px;
  }

  .nav-product-bloc-text {
    margin: 0 15px;
    display: block;
  }
}
.alert {
  margin-bottom: 30px;
  padding: 12px 20px;
  border-radius: 6px;
}

.alert-danger {
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
}

.alert-success {
  background-color: #d4edda;
  color: #155724;
  border: 1px solid #c3e6cb;
}

.range-bloc-img {
  height: 400px;
  width: 100%;
  background: center/cover no-repeat url(images/montre_connecte_red.jpg);
}

/*# sourceMappingURL=style.css.map */
