
//typography CSS

$title-font: 'Exo', sans-serif;
$text-font: 'Montserrat', sans-serif;

html {
  font-size: 16px; 
}

body {
  font-family: $text-font;
  line-height: 1.4;
}

.weight-bold {
  font-weight: 800;
}

.weight-semi-bold {
  font-weight: 600;
}

.weight-light {
  font-weight: 300;
}