.revendeurH2 {
    font-size: ;
    font-weight: 700;
    font-family: ;
    text-align: center;
}

.revendeurP {
     text-align: center;
     font-size: 1em;
     font-family: ;
     font-weight: ;
}

.revendeur {
    margin: 4em;
    padding: audo 12em;
}
.fnac {
    color: #F98723;
    font-weight: bolder;
}