.revendeurH2 {
   
    font-weight: 700;
  
    text-align: center;
}

.revendeurP {
     text-align: center;
     font-size: 1em;
    
}

.revendeur {
    margin: 4em;
    margin-left: 0em;
    padding: auto 92px;
}
.fnac {
    color: #F98723;
    font-weight: bolder;
}