.revendeurH2 {
   
    font-weight: 700;
  
    text-align: center;
}

.revendeurP {
     text-align: center;
     font-size: 1em;
    
}

.revendeur {
    margin: 4em;
    padding: audo 22em;
}
.fnac {
    color: #F98723;
    font-weight: bolder;
}